
body {
  font-size: 12pt;
}

h1 {
  padding: 30px 0 0 0;
}

h3 {
  padding-top: 30px;
}

.widelist li {
  margin: 20px 0;
}

.process h3 {
  padding: 0;
}

.conclusion img {
  margin: 80px 0;
}

#sidebar .content {
  position: fixed;
  margin-top: 30px;
}

#footer {
  padding: 25px 0;
  text-align: center;
  font-size: 10pt;
}

#cookies {
  position: fixed;
  background: #000;
  opacity: 0.8;
  width: 100%;
  color: #fff;
  font-size: 10pt;
  padding: 10px 20px;
  bottom: 0;
  left: 0;
}

#cookies p {
}

#cookies button {
  float: right;
}

@media only screen and (max-width: 991px) {
  #sidebar {
    display: none;
  }
  #content {
    width: 100% !important;
  }
}
